@model List<OrderItem>

@section Links{
    <title>CartPage</title>
    <link rel="stylesheet" href="~/css/CartPage.css" asp-append-version="true"/>
}

<!-- introduction ------------------------------------------------------------>
<div class="subtital">Order Detials</div>
<br>

<!-- headersBar ------------------------------------------------------------------>
<div class="headersBar">
    <p class="hd">Product</p>
    <p class="hd">detials</p>
    <p class="hd">Price</p>
    <p class="hd">Quantity</p>
    <p class="hd">Total</p>
</div>


<!-- container ------------------------------------------------------------------>
<div class="listCart">
    @if (Model != null && Model.Any())
    {
       @foreach (var item in Model)
    {
        <div class="item" data-id="@item.IdOrderItem"> 
            <div class="imge">
                <img src="~/imges/@Url.Content(@item.IdProductSizeNavigation.IdProductNavigation.Picture)" alt="">
            </div>
              <div class="nameconttainer">
                <div class="name">@item.IdProductSizeNavigation.IdProductNavigation.NameProduct</div>
            </div>
            <div class="nameconttainer">
                <div class="describtion">
                    @item.IdProductSizeNavigation.IdSizeNavigation.Name
                    ,
                    @foreach (var addon in item.OrderItemsProductAddOns)
                    {
                        @addon.IdProductAddOnsNavigation.Name
                    }
                </div>
            </div>
            <div class="price">@item.TotalPrice</div>
            <div class="Quantity">
                 <span>@item.Quantity</span>
                @*  <a asp-controller="Buying" asp-action="UpdateQuantity" asp-route-basketId=@item.IdBasket asp-route-plusOrminus="minus">
                <span><b class="minus">-</b></span>
                 </a>*@
            </div>
            <div class="tottalprice">@(item.TotalPrice * item.Quantity)</div>
        </div>
    }
    }
    else
    {
        <div class="empty-cart-message">
            سلة التسوق فارغة
        </div>
    }
    <br>
<br>
<br>
<br>
<br>
<br>
    <div class="lastTotal">
    <div class="Subtotal">Subtotal: $<span>@Model.Sum(i => i.TotalPrice*i.Quantity)</span></div>
    <div class="Discount">Discount: $<span>0</span></div>
    <div></div>
    <div class="Total">Total: $<span>@(Model.Sum(i => i.TotalPrice*i.Quantity)-0)</span></div>
    <a asp-controller="Buying" asp-action="CancelOrder"  asp-route-idorder=@Model[0].IdOrder class="send"><b>Cansol The Order</b></a>
</div>
</div>


@section Scripts{
    <script src="~/js/main.js"></script>
    <script>
        const loginErrorMessage = @Html.Raw(Json.Serialize(TempData["ErrorMessage"]));
        if (loginErrorMessage) { 
            alert(loginErrorMessage);
        } 
        const SuccessMessage = @Html.Raw(Json.Serialize(TempData["SuccessMessage"]));
        if (SuccessMessage) { 
            alert(SuccessMessage);
        } 
    </script>
}